@model SoccerTrainingManager.Models.Roster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jersey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jersey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotsOnTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotsOnTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassesCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassesCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interceptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interceptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dribbles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dribbles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DribblesCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DribblesCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
